HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
mvnw
mvnw.cmd
.DS_Store
test-output/bullet_point.png
test-output/collapseall.gif
test-output/emailable-report.html
test-output/failed.png
test-output/index.html
test-output/jquery-3.4.1.min.js
test-output/junitreports/TEST-com.comp671.testing.project.seleniumdemo.SeleniumDemoTestNGTest.xml
test-output/navigator-bullet.png
test-output/old/index.html
test-output/old/Suite/ChromeTest.properties
test-output/old/Suite/classes.html
test-output/old/Suite/FirefoxTest.properties
test-output/old/Suite/groups.html
test-output/old/Suite/index.html
test-output/old/Suite/main.html
test-output/old/Suite/methods-alphabetical.html
test-output/old/Suite/methods-not-run.html
test-output/old/Suite/methods.html
test-output/old/Suite/reporter-output.html
test-output/old/Suite/testng.xml.html
test-output/old/Suite/toc.html
test-output/passed.png
test-output/skipped.png
test-output/Suite/ChromeTest.html
test-output/Suite/ChromeTest.xml
test-output/Suite/FirefoxTest.html
test-output/Suite/FirefoxTest.xml
test-output/testng-reports.css
test-output/testng-reports.js
test-output/testng-reports1.css
test-output/testng-reports2.js
test-output/testng-results.xml
test-output/testng.css
